extends layout

block content
    h1 #{indexHeading}
    each article in articles
        article
            h1
                a(class="title" href=`/article/${article.file.base}`)  #{article.meta.title}
            p(class="meta") #{formatDate(article.meta.date)}
            != article.excerpt
            if article.more
                p(class="more")
                    a(href=`/article/${article.file.base}`) READ MORE ->
    if pagination
        p(class="pagination")
            if pagination.prev
                a(class="prev" href=`${pagination.prefix}/page/${pagination.prev}`) <- PREV
            if pagination.next
                a(class="next" href=`${pagination.prefix}/page/${pagination.next}`) NEXT ->
