doctype html
html
    head
        block head
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            if article && article.meta && article.meta.title
                title #{article.meta.title} | #{config.title}
            else
                title #{config.title}
            link(rel="stylesheet", href=assets('style.css'))
            link(rel="stylesheet", href=assets('highlight.css'))
            link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic")
            script(src=assets('script.js'))
    body
        block side
            include side
        div(class="main")
            block content
