doctype html
html
    head
        block head
            meta(http-equiv="X-UA-Compatible", content="ie=edge")
            meta(name="viewport", content="width=device-width, initial-scale=1.0")
            if head && head.title
                title #{config.title} | #{head.title}
            else
                title #{config.title}
            link(rel="stylesheet", href=assets('style.css'))
            script(src=assets('script.js'))
    body
        block nav
            include nav
        div(class="content")
            div(class="main")
                block content
            block side
                include side
